In [1]:
import requests
import pandas as pd

In [2]:
base_url = 'https://services.odata.org/TripPinRESTierService/'
end_point = 'People'

In [35]:
pd.read_json(
    'https://services.odata.org/TripPinRESTierService/People?$format=json&$top=30'
)

,@odata.context,value
0,https://services.odata.org/TripPinRESTierServi...,"{'UserName': 'angelhuffman', 'FirstName': 'Ang..."
1,https://services.odata.org/TripPinRESTierServi...,"{'UserName': 'clydeguess', 'FirstName': 'Clyde..."
2,https://services.odata.org/TripPinRESTierServi...,"{'UserName': 'elainestewart', 'FirstName': 'El..."
3,https://services.odata.org/TripPinRESTierServi...,"{'@odata.type': '#Trippin.Manager', 'UserName'..."
4,https://services.odata.org/TripPinRESTierServi...,"{'UserName': 'georginabarlow', 'FirstName': 'G..."
5,https://services.odata.org/TripPinRESTierServi...,"{'UserName': 'javieralfred', 'FirstName': 'Jav..."
6,https://services.odata.org/TripPinRESTierServi...,"{'UserName': 'jonirosales', 'FirstName': 'Joni..."
7,https://services.odata.org/TripPinRESTierServi...,"{'UserName': 'keithpinckney', 'FirstName': 'Ke..."
8,https://services.odata.org/TripPinRESTierServi...,"{'@odata.type': '#Trippin.Employee', 'UserName..."
9,https://services.odata.org/TripPinRESTierServi...,"{'UserName': 'laurelosborn', 'FirstName': 'Lau..."
10,https://services.odata.org/TripPinRESTierServi...,"{'UserName': 'marshallgaray', 'FirstName': 'Ma..."
11,https://services.odata.org/TripPinRESTierServi...,"{'UserName': 'ronaldmundy', 'FirstName': 'Rona..."
12,https://services.odata.org/TripPinRESTierServi...,"{'UserName': 'russellwhyte', 'FirstName': 'Rus..."
13,https://services.odata.org/TripPinRESTierServi...,"{'UserName': 'ryantheriault', 'FirstName': 'Ry..."
14,https://services.odata.org/TripPinRESTierServi...,"{'UserName': 'salliesampson', 'FirstName': 'Sa..."
15,https://services.odata.org/TripPinRESTierServi...,"{'UserName': 'sandyosborn', 'FirstName': 'Sand..."
16,https://services.odata.org/TripPinRESTierServi...,"{'UserName': 'scottketchum', 'FirstName': 'Sco..."
17,https://services.odata.org/TripPinRESTierServi...,"{'UserName': 'ursulabright', 'FirstName': 'Urs..."
18,https://services.odata.org/TripPinRESTierServi...,"{'UserName': 'vincentcalabrese', 'FirstName': ..."
19,https://services.odata.org/TripPinRESTierServi...,"{'UserName': 'willieashmore', 'FirstName': 'Wi..."

In [4]:
response = requests.get(
    url=base_url + end_point,
    params={
        '$format': 'json',
        '$top' : 30
    }
)

In [6]:
data = response.json()

In [34]:
pd.json_normalize(
    data['value'],
    "AddressInfo",
    max_level=1)

                     Address      City.Name City.CountryRegion City.Region
0        55 Grizzly Peak Rd.          Butte      United States          MT
1        55 Grizzly Peak Rd.          Butte      United States          MT
2        87 Polk St. Suite 5  San Francisco      United States          CA
3        55 Grizzly Peak Rd.          Butte      United States          MT
4   89 Jefferson Way Suite 2       Portland      United States          WA
5        55 Grizzly Peak Rd.          Butte      United States          MT
6        55 Grizzly Peak Rd.          Butte      United States          MT
7        87 Polk St. Suite 5  San Francisco      United States          CA
8        87 Polk St. Suite 5  San Francisco      United States          CA
9        55 Grizzly Peak Rd.          Butte      United States          MT
10           187 Suffolk Ln.          Boise      United States          ID
11           187 Suffolk Ln.          Boise      United States          ID
12       55 Grizzly Peak Rd.          Butte      United States          MT
13       87 Polk St. Suite 5  San Francisco      United States          CA
14        89 Chiaroscuro Rd.       Portland      United States          OR
15       87 Polk St. Suite 5  San Francisco      United States          CA
16           2817 Milton Dr.    Albuquerque      United States          NM
17       87 Polk St. Suite 5  San Francisco      United States          CA
18       55 Grizzly Peak Rd.          Butte      United States          MT

In [28]:
df = pd.DataFrame(data['value'])

In [29]:
df

,UserName,FirstName,LastName,MiddleName,Gender,Age,Emails,FavoriteFeature,Features,AddressInfo,HomeAddress,@odata.type,Budget,BossOffice,Cost
0,angelhuffman,Angel,Huffman,None,Female,None,[Angel@example.com],Feature1,[],"[{'Address': '55 Grizzly Peak Rd.', 'City': {'...",None,NaN,NaN,NaN,NaN
1,clydeguess,Clyde,Guess,None,Male,None,[],Feature1,[],[],"{'Address': None, 'City': None}",NaN,NaN,NaN,NaN
2,elainestewart,Elaine,Stewart,None,Female,None,"[Elaine@example.com, Elaine@contoso.com]",Feature1,[],"[{'Address': '55 Grizzly Peak Rd.', 'City': {'...",None,NaN,NaN,NaN,NaN
3,genevievereeves,Genevieve,Reeves,None,Female,None,"[Genevieve@example.com, Genevieve@contoso.com]",Feature1,[],"[{'Address': '87 Polk St. Suite 5', 'City': {'...",None,#Trippin.Manager,0.0,NaN,NaN
4,georginabarlow,Georgina,Barlow,None,Female,None,"[Georgina@example.com, Georgina@contoso.com]",Feature1,[],"[{'Address': '55 Grizzly Peak Rd.', 'City': {'...",None,NaN,NaN,NaN,NaN
5,javieralfred,Javier,Alfred,None,Male,None,"[Javier@example.com, Javier@contoso.com]",Feature1,[],"[{'Address': '89 Jefferson Way Suite 2', 'City...",None,NaN,NaN,NaN,NaN
6,jonirosales,Joni,Rosales,None,Female,None,"[Joni@example.com, Joni@contoso.com]",Feature1,[],"[{'Address': '55 Grizzly Peak Rd.', 'City': {'...",None,NaN,NaN,NaN,NaN
7,keithpinckney,Keith,Pinckney,None,Male,None,"[Keith@example.com, Keith@contoso.com]",Feature1,[],"[{'Address': '55 Grizzly Peak Rd.', 'City': {'...",None,NaN,NaN,NaN,NaN
8,kristakemp,Krista,Kemp,None,Female,None,[Krista@example.com],Feature1,[],"[{'Address': '87 Polk St. Suite 5', 'City': {'...",None,#Trippin.Employee,NaN,NaN,0.0
9,laurelosborn,Laurel,Osborn,None,Female,None,"[Laurel@example.com, Laurel@contoso.com]",Feature1,[],"[{'Address': '87 Polk St. Suite 5', 'City': {'...",None,NaN,NaN,NaN,NaN
10,marshallgaray,Marshall,Garay,None,Male,None,"[Marshall@example.com, Marshall@contoso.com]",Feature1,[],"[{'Address': '55 Grizzly Peak Rd.', 'City': {'...",None,NaN,NaN,NaN,NaN
11,ronaldmundy,Ronald,Mundy,None,Male,None,"[Ronald@example.com, Ronald@contoso.com]",Feature1,[],"[{'Address': '187 Suffolk Ln.', 'City': {'Name...",None,NaN,NaN,NaN,NaN
12,russellwhyte,Russell,Whyte,None,Male,None,"[Russell@example.com, Russell@contoso.com]",Feature1,"[Feature1, Feature2]","[{'Address': '187 Suffolk Ln.', 'City': {'Name...",None,NaN,NaN,NaN,NaN
13,ryantheriault,Ryan,Theriault,None,Male,None,"[Ryan@example.com, Ryan@contoso.com]",Feature1,[],"[{'Address': '55 Grizzly Peak Rd.', 'City': {'...",None,NaN,NaN,NaN,NaN
14,salliesampson,Sallie,Sampson,None,Female,None,"[Sallie@example.com, Sallie@contoso.com]",Feature1,[],"[{'Address': '87 Polk St. Suite 5', 'City': {'...",None,NaN,NaN,NaN,NaN
15,sandyosborn,Sandy,Osborn,None,Female,None,"[Sandy@example.com, Sandy@contoso.com]",Feature1,[],"[{'Address': '87 Polk St. Suite 5', 'City': {'...",None,NaN,NaN,NaN,NaN
16,scottketchum,Scott,Ketchum,None,Male,None,[Scott@example.com],Feature1,[],"[{'Address': '2817 Milton Dr.', 'City': {'Name...",None,NaN,NaN,NaN,NaN
17,ursulabright,Ursula,Bright,None,Female,None,"[Ursula@example.com, Ursula@contoso.com]",Feature1,[],"[{'Address': '87 Polk St. Suite 5', 'City': {'...",None,NaN,NaN,NaN,NaN
18,vincentcalabrese,Vincent,Calabrese,None,Male,None,"[Vincent@example.com, Vincent@contoso.com]",Feature1,[],"[{'Address': '55 Grizzly Peak Rd.', 'City': {'...",None,NaN,NaN,NaN,NaN
19,willieashmore,Willie,Ashmore,None,Male,None,[],Feature1,[],[],None,NaN,NaN,NaN,NaN

In [19]:
df_emails = pd.DataFrame(df['Emails'].to_list())
df_emails

                        0                      1
0       Angel@example.com                   None
1                    None                   None
2      Elaine@example.com     Elaine@contoso.com
3   Genevieve@example.com  Genevieve@contoso.com
4    Georgina@example.com   Georgina@contoso.com
5      Javier@example.com     Javier@contoso.com
6        Joni@example.com       Joni@contoso.com
7       Keith@example.com      Keith@contoso.com
8      Krista@example.com                   None
9      Laurel@example.com     Laurel@contoso.com
10   Marshall@example.com   Marshall@contoso.com
11     Ronald@example.com     Ronald@contoso.com
12    Russell@example.com    Russell@contoso.com
13       Ryan@example.com       Ryan@contoso.com
14     Sallie@example.com     Sallie@contoso.com
15      Sandy@example.com      Sandy@contoso.com
16      Scott@example.com                   None
17     Ursula@example.com     Ursula@contoso.com
18    Vincent@example.com    Vincent@contoso.com
19                   None                   None